.logos-container {
  margin: 20px 0 40px 0;
  text-align: center;
  svg {
    display: inline-block;
  }
}

.devextreme-logo {
  width: 200px;
  height: 34px;
  margin-bottom: 13px;
}

.angular-logo {
  width: 220px;
  height: 62px;
}

.plus {
  margin: 15px 10px;
  width: 22px;
  height: 22px;
}

:host-context(.screen-x-small) .logos-container {
  svg {
    width: 100%;
    display: block;
    &.plus {
      margin: 0;
    }
  }
}




.view-wrapper {
 
  padding-bottom: 0;

  .panels {
    display: flex;
    flex-wrap: wrap;
  
    gap: 0px;

    .left {
      flex: 3 ;
      margin-top: 0px;
      min-width: 800px;
    }

    .right {
      flex: 1 ;
      margin-top: 10px;
    //  min-width: 340px;
    }
  }
}
