:host {
  @import "../themes/generated/variables.base.scss";
  background-color: darken($base-bg, 5.00);
  // background-image: url("../assets/DALL·E\ 2024-02-18_robocop.png");
  // background-position: center;
  // background-size: auto;
  display: flex;
  height: 100%;
  width: 100%;
}
