

.view-wrapper {
  //background-image: url("../../../assets/DALL·E\ 2024-02-18_robocop.png");
  background-image: url("../../../assets/_ae5216d0-ed2c-4018-b077-a15459c7c0cf.jpg");
  
  padding-top: var(--content-padding);
  padding-bottom: 0;
  min-width: 70%;
  min-height: 90%;

  position: absolute;
  left: 15%;
  
}