<div class="view-wrapper ">


      <div class="panels">
            <div class="left">
                  <div class="content-block dx-card ">
                        <dx-text-area [(value)]="questionText" [maxLength]="200" label="Kérdés" height="150">
                        </dx-text-area>

                        <!-- <ul>
                              <li *ngFor="let chatItem of chathistory">
                                Név: {{ chatItem.name }}, Szöveg: {{ chatItem.value }}
                              </li>
                            </ul> -->
                  </div>
                        
                  <dx-button stylingMode="contained" text="Kérdez" [height]="50" type="normal"
                        (onClick)="askQuestion('RAG')"></dx-button>

                  <dx-button stylingMode="contained" text="Okostól kérdez" [height]="50" type="normal"
                        (onClick)="askQuestion('OKOS')"></dx-button>

                  <div class="dx-card details-card">
                        <!-- <div id="answerhtml" [innerHtml]="valueContent">   </div> -->
                        <span [innerHTML]="valueContent"></span>
                        <!-- <span>{{ valueContent }}</span> -->

                        <!-- <dx-text-area
                              [value]="valueContent"
                              [maxLength]="200"
                              label="Válasz"
                          >
                          </dx-text-area>  -->

                  </div>
                  <div class="dx-fieldset" style="width: 300px;">
                        <div class="dx-field">
                          <div class="dx-field-label">Találat oldalak:</div>
                          <div class="dx-field-value">
                              <dx-select-box
                              #selectBox
                              [items]="pages"
                              [inputAttr]="{ 'aria-label': 'Oldalak' }"
                              [(value)]="selectedPage"
                              (onSelectionChanged)=onSelectionChanged($event)   
                              width="100%"
                            ></dx-select-box>
                          </div>
                        </div>
                  </div>
                  <!-- <div class="dx-card csapat" >x</div> -->
            </div>
            <div class="right" style="height: 800px;">
          
                        <ng2-pdfjs-viewer
                        #pdfViewerOnDemand
                        (onDocumentLoad)="pdfLoaded()"
                        [externalWindow]="false"
                        [openFile]="false"
                        [viewBookmark]="false"
                        [page]="selectedPage"
             
                        ></ng2-pdfjs-viewer>
                        <!-- <pdf-viewer
                        [src]="pdfUrl" 
                        [page]="selectedPage" 
                        [show-all]="false" 
                        (pagechanging)="updateCurrentPage($event )"
                        ></pdf-viewer> -->
                        <!-- <iframe id="pdfIframe"  [src]="pdfUrl" width="800px" height="700px" title="PDF document"></iframe> -->
             

                  <!--             <iframe src="http://91.107.238.245:6333/dashboard#/collections" 
            width="100%"                  
            height="800px"
            title ="Quadrant"></iframe>
             -->
            </div>
      </div>
</div>